.chat{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 78px calc(100dvh - 116px - 78px) 40px;
}
.chat-header{
    width: 100%;
    height: 100%;
    background-color: #282828;
    display: flex;
    align-items: center;
    padding: 0 14px;
    column-gap: 12px;
}
.chat-header__back-button{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0;
    background-image: url('../images/back.png');
    background-size: cover;
}
.chat-header__username{
    color: #fff;
    font-size: 14px;
    max-width: calc(100% - 42px - 112px - 12px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chat-body{
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 20px;
    padding: 0 199px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.chat-body::-webkit-scrollbar{
    width: 5px;
}
.chat-body::-webkit-scrollbar-thumb{
    background-color: #c8c8c8;
    border-radius: 16px;
}
.message-box{
    width: max-content;
    max-width: 48%;
    height: max-content;
    padding: 10px 16px 28px 16px;
    background-color: #282828;
    border-radius: 15px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    position: relative;
}
.reply-message{
    width: 18px;
    height: 18px;
    border: 0;
    background-color: transparent;
    background-image: url('../images/reply.png');
    background-size: cover;
    background-position: center;
}
.message-box__me{
    background-color: #FFED46;
    align-self: end;
}
.message-text{
    word-break: break-word;
    color: white;
    max-width: calc(100% - 22px);
}
.message-text__me{
    color: black;
}
.message-seen{
    align-self: flex-end;
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 8px;
    right: 14px;
}
.message-reply{
    margin-top: 8px;
    width: max-content;
    max-width: 40%;
    word-break: break-word;
    padding: 5px 8px;
    background-color: rgba(134, 134, 134, 0.4);
    color: #c8c8c8;
    border-radius: 8px;
}
.message-reply__me{
    align-self: flex-end;
}
.chat-footer{
    height: 116px;
    padding: 20px 199px;
    position: relative;
}
.reply-box{
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    padding: 0 199px;
    width: 100%;
}
.reply-box__inner{
    width: 100%;
    height: max-content;
    background-color: rgba(200, 200, 200, 0.4);
    padding: 8px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reply-remove{
    width: 18px;
    height: 18px;
    background-image: url('../images/close.png');
    background-size: cover;
    background-color: transparent;
    border: 0;
}
.reply-text{
    width: max-content;
    max-width: 70%;
    word-break: break-word;
    height: max-content;
}
.chat-footer__input-outer{
    width: 100%;
    max-height: 100%;
    height: max-content;
    min-height: 56px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 12px 22px;
    display: grid;
    column-gap: 8px;
    grid-template-columns: auto 40px;
    align-items: center;
}
.chat-footer__input-inner{
    outline: none;
    border: 0;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 18px;
    overflow-y: auto;
    resize: none;
    font-size: 14px;
}
.chat-footer__input-inner::-webkit-scrollbar{
    width: 0;
}
.chat-footer__input-button{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    background-image: url('../images/send.svg');
    background-position: center;
    background-size: cover;
}

@media(max-width: 1024px){
    .chat-body{
        padding: 0 20px;
    }
    .chat-footer{
        padding: 20px 20px;
    }
}
@media(max-width: 600px){
    .message-box{
        max-width: 70%;
    }
}